.btn {
  text-transform: uppercase;
}

// button outline

.btn-outline--primary {
  @extend .btn;

  border: 1px solid $base-color--primary;
  color: $base-color--primary;
  text-align: center;
}

.btn-outline--secondary {
  @extend .btn;

  border: 1px solid $base-color--secondary;
  color: $base-color--secondary;
}

// button solid

.btn-solid--primary {
  @extend .btn;

  background-color: $base-color--primary;
  font-weight: bold;
}

.btn-solid--secondary {
  @extend .btn;

  background: $base-color--secondary;
  color: $green;
  font-weight: bold;
}
