.social {
  text-align: center;

  p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 0 !important;
    line-height: normal;
  }

  > tbody tr td {
    @include breakpointSmallerThan($breakpoint--small) {
      width: 310px !important;
    }
  }
}

.social-block {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;

  @include breakpointLargerThan($breakpoint--large) {
    width: 24% !important;
    min-width: 143px !important;
  }

  img {
    vertical-align: middle;
  }
}

.social-block__item {
  width: 200px;

  @include breakpointLargerThan($breakpoint--large) {
    width: 100% !important;
  }
}
