.hero--cover {
  background-repeat: none;
  padding: $hero__padding;
  width: 100% - $hero__padding * 2;

  @include breakpointSmallerThan($breakpoint--medium) {
    background-size: 100% 100%;
  }

  @include breakpointLargerThan($breakpoint--medium) {
    background-size: cover;
  }
}

.hero__title {
  color: $hero__color;
}

.hero__detail {
  color: $hero__color;
}
