// Nav Defaults

.nav {
  td {
    padding: 0 5px;

    @include breakpointSmallerThan($breakpoint--medium) {
      padding: 2px !important;
    }
  }
}

.nav__logo {
  width: 100%;
  max-width: 400px;

  @include breakpointLargerThan($breakpoint--medium) {
    width: 200px;
    margin: 0 auto;
  }
}

.nav__link {
  color: $black;
  font-weight: bold;
  font-size: 14px;

  @include breakpointSmallerThan($breakpoint--medium) {
    font-size: 9px !important;
  }
}
