// Layout Helpers

.hide--mobile {
  @include breakpointSmallerThan($breakpoint--medium) {
    display:none !important;
  }
}

.padding--none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

// Color Helpers

.color--primary {
  color: $base-color--primary;
}

.color--secondary {
  color: $base-color--secondary;
}

.color--black {
  color: $black;
}

.color--white {
  color: $white;
}

.color--grey {
  color: $grey;
}

// Background Helpers

.background--primary {
  background-color: $base-color--primary;
}

.background--secondary {
  background-color: $base-color--secondary;
}

.background--black {
  background-color: $black;
}

.background--white {
  background-color: $white;
}

.background--grey {
  background-color: $grey--light;
}

// Border Helpers

.border-radius {
  @include border-radius(5px);
}
