body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

.wrapper {
  @include breakpointBetween($breakpoint--medium, $breakpoint--large) {
    width: 100% !important;
  }

  @include breakpointBetween($breakpoint--small, $breakpoint--medium) {
    width: 400px !important;
  }

  @include breakpointSmallerThan($breakpoint--small) {
    width: 310px !important;
  }

  td, a {
    word-wrap:normal;
  }
}

.email-block {
  @extend .border-radius;

  background-color: $white;
}

* {-webkit-text-size-adjust: none}


#templateColumns {
  @include breakpointSmallerThan($breakpoint--medium) {
    width:100% !important;
  }
}

.templateColumnContainer {
  @include breakpointSmallerThan($breakpoint--medium) {
    display:block !important;
    width:100% !important;
  }
}

.columnImage {
  @include breakpointSmallerThan($breakpoint--medium) {
    height:auto !important;
    max-width:480px !important;
    width:100% !important;
  }
}

.leftColumnContent {
  @include breakpointSmallerThan($breakpoint--medium) {
    font-size:16px !important;
    line-height:125% !important;
  }
}

.rightColumnContent {
  @include breakpointSmallerThan($breakpoint--medium) {
    font-size:16px !important;
    line-height:125% !important;
  }
}
