
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.heading-defaults {
  font-family: $font-family--sans-serif;
  padding: 5px 0;
  text-transform: capitalize;
  margin: 0;
}

h1 {
  @extend .heading-defaults;

  color: $base-color--primary;
  line-height: $base-line-height;
  font-size: 48px;
  line-height: 55px;

  @include breakpointSmallerThan($breakpoint--small) {
    font-size: $base-font__size * 1;
  }

  @include breakpointBetween($breakpoint--small, $breakpoint--large) {
    font-size: $base-font__size * 1.1;
  }

  @include breakpointLargerThan($breakpoint--large) {
    font-size: $base-font__size * 1.75;
  }

}

h2 {
  @extend .heading-defaults;

  color: $black;
  line-height: $base-line-height;
  font-size: $base-font__size + 2;
}

h3 {
  @extend .heading-defaults;

  color: $black;
  line-height: $base-line-height;
  font-size: 20px;
  font-weight: normal;
}

h4 {
  @extend .heading-defaults;

  color: $base-color--secondary;
  line-height: $base-line-height;
  font-size: $base-font__size;

  @include breakpointLargerThan($breakpoint--medium) {
    font-size: $base-font__size;
  }
}

p {
  font-family: $font-family--sans-serif;
  line-height: $base-font__size * 1.5;
  color: lighten($black, 30%);
  margin: 10px 0 0 0;
  font-size: $base-font__size;

  @if ($base-font__size > 16) {
    @include breakpointSmallerThan($breakpoint--small) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

a {
  font-family: $font-family--sans-serif;
  text-decoration: none;
  color: $base-color--primary;

  @include breakpointLargerThan($breakpoint--small) {
    font-size: $base-font__size;
  }
}

span {
  font-family: $font-family--sans-serif;
  font-size: $base-font__size;
}

.disclaimer {
  font-size: 10px;
  line-height: 10px * 1.5;
}
