///////////////////////////
///// BASE COLORS
///////////////////////////

$black: #1D1D1D;
$white: #FFFFFF;
$red: #DA4624;
$yellow: #E8B71A;
$green: #99cc34;
$blue: #28ABE3;
$pink: #FF4C65;
$purple: #982395;
$orange: #FB6648;
$grey: darken($white, 30%);
$grey--light: darken($white, 5%);

///////////////////////////
///// EMAIL COLORS
///// Follows 'Color name Hue'
///// http://www.color-blindness.com/color-name-hue/
///////////////////////////

$whisper: #F9F7F7;
$white-smoke: #F3F3F3;
$fire-brick: #C12C1D;
$medium-purple: #8C67DF;
