// Breakpoints

$breakpoint--small: 376px;
$breakpoint--medium: 415px;
$breakpoint--large: 600px;
$breakpoint--xlarge: 1200px;

// Base Variables

$base-color--primary: $green;
$base-color--secondary: $black;
$base-font__size: 20px;
$base-line-height: 1.5;

// Layout
$col-2__width--small: 15%;

// Hero

$hero__padding: 20%;
$hero__color: $white;

// Fonts

$font-family--sans-serif: Arial, Helvetica, sans-serif;
$font-family--serif: "Times New Roman", Times, serif;
