<tr>
  <td>
    <table class="wrapper email-block" width="600" cellpadding="20" cellspacing="0">
      <tr>
        <td>
          <h2>Custom <span style="text-transform: uppercase;">customerTypesTrigger</span> content goes here</h2>
          <!-- inject:partials:customerTypesTrigger -->
            <p class="tip">*TIP: You're seeing this because the intl trigger is set to true. Change gulp/tasks/config/customerTypes.active to true. Anything with customerTypesTrigger will be replaced with DT and LC. This tip will dissapear as anything between the inject code gets replaced with the custom type html in the partials folder!</p>
          <!-- end inject:partials:customerTypesTrigger -->
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr height="20"></tr>
<tr>
  <td>
    <table class="wrapper email-block" width="600" cellpadding="20" cellspacing="0">
      <tr>
        <td>
          <h2>Custom <span style="text-transform: uppercase;">intlTrigger</span> content goes here</h2>
          <!-- inject:partials:intlTrigger -->
            <p class="tip">*TIP: You're seeing this because the customer types trigger is set to true. Change gulp/tasks/config/intl.active to true. Anything with intlTrigger will be replaced with its version type 'au', 'eu', 'ca' for example. For example: <img src="assets/img/example-intlTrigger.jpg" alt="intlTrigger img"> will become in email-igniter-ca.html <img src="assets/img/example-ca.jpg" alt="ca img"></p>
          <!-- end inject:partials:intlTrigger -->
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr height="20"></tr>
<tr>
  <td>
    <table class="wrapper email-block" width="600" cellpadding="20" cellspacing="0">
      <tr>
        <td>
          <h2>It Works! Email Starter Pack</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://events.itworks.com/one2017" target="_blank">
            <table cellpadding="20" cellspacing="0" align="center">
              <tr>
                <td class="btn-solid--primary border-radius">
                    <table cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td>
                          <span class="color--white"><b>GET YOUR TICKET!</b></span>
                        </td>
                      </tr>
                    </table>
                </td>
              </tr>
            </table>
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr height="20"></tr>
<tr>
  <td>
    <table class="wrapper email-block" width="600" cellpadding="20" cellspacing="0">
      <tr>
        <td>
          <h2>Example using lists</h2>
          <table class="list" cellpadding="10">
            <tr height="10"></tr>
            <tr class="background--grey">
              <td>
                <p>1.) Purchase your #ONE2017 ticket for $325 and receive 3 wrap rewards.</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>2.) Invest in 3 packs of the Ultimate Body Applicators (cost to you $75.00).</p>
              </td>
            </tr>
            <tr class="background--grey">
              <td>
                <p>3.) Host a Wrap Party and sell your wraps at $25 each (profit $225) reducing the cost of your ONE ticket to $100!</i></p>
              </td>
            </tr>
          </table>
          <br>
          <table align="center">
            <tr height="10"></tr>
            <tr>
              <td>
                <a href="http://events.itworks.com/one2017" target="_blank">
                  <table cellpadding="20" cellspacing="0" align="center">
                    <tr>
                      <td class="btn-solid--primary border-radius">
                          <table cellpadding="0" cellspacing="0" align="center">
                            <tr>
                              <td>
                                <span class="color--white"><b>GET YOUR TICKET!</b></span>
                              </td>
                            </tr>
                          </table>
                      </td>
                    </tr>
                  </table>
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr height="20"></tr>
<tr>
  <td>
    <table class="wrapper email-block" width="600" cellpadding="20" cellspacing="0">
      <tr>
        <td>
          <img class="hero" width="560px" src="assets/img/example-image.gif" alt="example image">
          <br>
          <br>
          <h2>Example using a header image</h2>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr height="20"></tr>
<tr>
  <td>
    <table class="wrapper email-block" width="600" cellpadding="20" cellspacing="0">
      <tr>
        <td>
          <table>
            <tr>
              <td align="center" valign="top" width="50%" class="templateColumnContainer">
                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                  <tr>
                    <td class="leftColumnContent">
                      <img src="http://placekitten.com/g/480/300" width="100%" style="max-width:255px;" class="columnImage" />
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" class="leftColumnContent">
                      <h2>Left Column</h2>
                      <p>Lorem ipsum dolor sit amet.</p>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="center" valign="top" width="50%" class="templateColumnContainer">
                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                  <tr>
                    <td class="rightColumnContent">
                      <img src="http://placekitten.com/g/480/300" width="100%" style="max-width:255px;" class="columnImage" />
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" class="rightColumnContent">
                      <h2>Right Column</h2>
                      <p>Lorem ipsum dolor sit amet.</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
