<tr height="20"></tr>
<tr>
  <td>
    <table class="wrapper social" width="600" cellpadding="2" cellspacing="0">
      <tr>
        <!-- start social block -->
        <td>
          <div class="social-block">
            <a href="https://www.facebook.com/itworksglobal/" target="_blank">
              <table class="social-block__item border-radius" align="center" bgcolor="#3b5998" cellpadding="10" cellspacing="0">
                <tr>
                  <td>
                    <img src="assets/img/social-icon-facebook.jpg" alt="facebook icon" width="20px">
                  </td>
                  <td>
                    <p class="color--white">LIKE ON FACEBOOK</p>
                  </td>
                </tr>
              </table>
            </a>
          </div>
          <div class="social-block">
            <a href="https://twitter.com/ItWorksGlobal/" target="_blank">
              <table class="social-block__item border-radius" align="center" bgcolor="#1da1f2" cellpadding="10" cellspacing="0">
                <tr>
                  <td>
                    <img src="assets/img/social-icon-twitter.jpg" alt="twitter icon" width="20px">
                  </td>
                  <td>
                    <p class="color--white">FOLLOW ON TWITTER</p>
                  </td>
                </tr>
              </table>
            </a>
          </div>
          <div class="social-block">
            <a href="https://www.youtube.com/itworksglobal/" target="_blank">
              <table class="social-block__item border-radius" align="center" bgcolor="#cc181e" cellpadding="10" cellspacing="0">
                <tr>
                  <td>
                    <img src="assets/img/social-icon-youtube.jpg" alt="youtube icon" width="20px">
                  </td>
                  <td>
                    <p class="color--white">SUBSCRIBE ON YOUTUBE</p>
                  </td>
                </tr>
              </table>
            </a>
          </div>
          <div class="social-block">
            <a href="https://www.snapchat.com/add/itworkshq/" target="_blank">
              <table class="social-block__item border-radius" align="center" bgcolor="#fffc00" cellpadding="10" cellspacing="0">
                <tr>
                  <td>
                    <img src="assets/img/social-icon-snapchat.jpg" alt="snapchat icon" width="20px">
                  </td>
                  <td>
                    <p class="color--black">FOLLOW ON SNAPCHAT</p>
                  </td>
                </tr>
              </table>
            </a>
          </div>
        </td>
        <!-- end social block -->
      </tr>
    </table>
  </td>
</tr>
<tr height="50"></tr>
