<!-- start hero v1 -->
<tr bgcolor="#99cc33" style="background-image: url('assets/img/bg-diamonds.jpg'); vertical-align: top;">
  <td>
    <!-- *************** DONT FORGET TO ADJUST HEIGHT BELOW!! ************* -->

    <!--[if gte mso 9]>
    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:266px;">
      <v:fill type="tile" src="assets/img/bg-diamonds.jpg" color="#99cc33" />
      <v:textbox inset="0,0,0,0">
    <![endif]-->
    <div>
    <!-- ** END OUTlOOK BG IMG FIX -->
    <table cellpadding="0" cellspacing="0" align="center" style="vertical-align: middle;">
      <tr>
        <td class="text--center">
          <!-- * START OUTLOOK 2007/2010/2013 MAX WIDTH FIX -->

          <!--[if (gte mso 9)|(IE)]>
          <table width="100%" align="center" cellpadding="0" cellspacing="20" border="0">
            <tr>
              <td>
          <![endif]-->

          <!-- * END OUTLOOK 2007/2010/2013 MAX WIDTH FIX -->
          <table class="wrapper" width="600" cellpadding="0" cellspacing="20" align="center" style="vertical-align: middle;">
            <tr>
              <td class="text--center">
                <!-- padding -->
                <table align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr height="20">
                  </tr>
                </table>
                <!-- end padding -->

                <h1 class="text--center color--white">
                  Hello There!<br>
                  Thanks for downloading<br>
                  Email Igniter 3!
                </h1>
                <p class="color--white">
                  Find a premade section to get started! Submit any bug fixes to drewr@itworksglobal.com
                </p>

                <!-- padding -->
                <table align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr height="20">
                  </tr>
                </table>
                <!-- end padding -->
              </td>
            </tr>
          </table>
          <!-- * START OUTLOOK 2007/2010/2013 MAX WIDTH FIX -->
          <!--[if (gte mso 9)|(IE)]>
              </td>
            </tr>
          </table>
          <![endif]-->
          <!-- * END OUTLOOK 2007/2010/2013 MAX WIDTH FIX -->
        </td>
      </tr>
    </table>
  <!-- ** START OUTLOOK BG IMG FIX -->
  </div>
  <!--[if gte mso 9]>
    </v:textbox>
  </v:rect>
  <![endif]-->
  <!-- ** END OUTLOOK BG IMG FIX -->
  </td>
</tr>
<!-- END hero v1 -->
<tr height="20"></tr>
<!-- start hero v2 -->
<tr class="text--center">
  <td>
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <!-- inject:video -->
            <a href="remoteFileTrigger" target="_blank">
              <img class="wrapper hero" src="assets/img/video-play.gif" alt="video thumbnail">
            </a>
            <!-- end inject:video -->
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<!-- end hero v2 -->
<tr height="20"></tr>
