<!-- nav v3 -->
<tr class="nav" bgcolor="#000000">
  <td>
    <table class="wrapper text--center" align="center" cellpadding="10" cellspacing="0">
      <tr height="10"></tr>
      <tr>
        <td width="200">
          <a href="http://www.itworks.com/" target="_blank">
            <img src="assets/img/logo-light.png" alt="logo">
          </a>
        </td>
      </tr>
      <tr height="10"></tr>
    </table>
  </td>
</tr>

<tr bgcolor="#ffffff">
  <td>
    <table class="wrapper nav" align="center" cellpadding="0" cellspacing="0">
      <tbody>
        <!-- padding -->
        <tr height="20">
        </tr>
        <!-- end padding -->
        <tr>
          <td align="center" style="color:#000;">
              <a class="nav__link" href="http://www.itworks.com/shop#body" target="_blank">BODY</a>
          </td>
          <td align="center" style="color:#000;">
              <a class="nav__link" href="http://www.itworks.com/shop#skin" target="_blank">SKIN</a>
          </td>
          <td align="center" style="color:#000;">
            <a class="nav__link" href="http://www.itworks.com/shop#greens" target="_blank">GREENS</a>
          </td>
          <td align="center" style="color:#000;">
            <a class="nav__link" href="http://www.itworks.com/shop#lifestyle" target="_blank">LIFESTYLE</a>
          </td>
          <td align="center" style="color:#000;">
            <a class="nav__link" href="http://www.itworks.com/shop#essentialoils" target="_blank">ESSENTIAL OILS</a>
          </td>
          <td align="center" style="color:#000;">
            <a class="nav__link" href="http://www.itworks.com/shop#packs" target="_blank">PACKS</a>
          </td>
          <td align="center" style="color:#000;">
            <a class="nav__link" href="http://www.itworks.com/results/" target="_blank">RESULTS</a>
          </td>
        </tr>
        <!-- padding -->
        <tr height="20">
        </tr>
        <!-- end padding -->
      </tbody>
    </table>
  </td>
</tr>
