<tr class="preheader">
  <td width="560" valign="top">
    <div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr height="20"></tr>
              <tr>
                <td align="left" width="50%"
                    style="display:none !important;
                           visibility:hidden;
                           mso-hide:all;
                           font-size:1px;
                           color:#ffffff;
                           line-height:1px;
                           max-height:0px;
                           max-width:0px;
                           opacity:0;
                           overflow:hidden;"
                      >
                    Take your Email to a Whole ’Notha Level with Email Igniter!
                </td>
                <td width="50%" align="right" style="font-size:16px; color:#FFFFFF;">
                  <a class="color--grey" href="remoteFileTrigger" target="_blank">View Online</a>
                </td>
              </tr>
              <tr height="20"></tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </td>
</tr>
