<tr class="email-row--no-padding">
  <td class="full-width padding--none">
    <table class="full-width" cellpadding="0" cellspacing="0">
      <tbody class="full-width">
        <tr class="full-width">
          <td class="col-1 callout-secondary footer--wrapper full-width text--center">
            <p class="color--white padding--none">Having trouble viewing this e-mail? <a href="remoteFileTrigger" target="_blank">Click here</a> to view in browser</p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
